table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

th, td {
    border: 1px solid rgb(75, 75, 75);
    padding: 8px 10px;
}

.row:hover {
    background-color: rgb(223, 223, 223);
}